// theme colors
$base-color: #161616;
$base-background-color: #FDFDFD;
$accent-color: #a0d4b5;

// margins and paddings
$base-width: 90vw;

// media queries
$laptop-query: 1440px;
$tablet-query: 1024px;
$mobile-query: 744px;

